---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Strona dla Ciebie! | bladywebdev.pl">
	<main class="bg-slate-950 text-white flex items-center justify-center w-full min-h-screen">
		<div class="flex flex-col justify-center items-center gap-4 p-8">
			<h1 class="text-2xl md:text-4xl text-center">W sprawie zaprojektowania strony oraz realizacji projektu proszę o kontakt.</h1>
			<a href="mailto:sikorafranek@gmail.com" class="text-xl transition-all duration-150 hover:opacity-80 hover:underline ">sikorafranek@gmail.com</a>
		</div>
	</main>
</Layout>